@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
body {
    font-weight: 400;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to top left, #5D4157 0%, #A8CABA 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

p {
    text-align: justify;
}

.main {
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

textarea {
    width: 100%;
    resize: none;
}

table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 30vh;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

th,
td {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: #6880c8;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    height: 15vh;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

input[type="text"] {
    width: 100%;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: brown;
}

.task {
    margin-bottom: 100px;
}

.coins {
    color: black;
    justify-content: flex-start;
}

.coins input {
    width: 50px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.multipliers {
    color: black;
    justify-content: flex-start;
}

.multipliers input {
    width: 50px;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.response {
    color: black;
}

.response p {
    display: inline-block;
    text-align: center;
    width: 50px;
    margin: 5px;
    border: 1px solid black;
}

.opciones {
    width: 100%;
    height: 15vh;
    background-color: #fafafa04;
    font-family: 'Montserrat', sans-serif;
}

.opciones td {
    align-items: center;
    justify-content: center;
}

#calculate {
    margin: 10px;
    width: 100px;
    height: 50px;
}

.btn {
    position: absolute;
    transform: translateX(-50%);
    color: #444;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
}